PASSWORD=YOUR_PASSWORD
PRIMARY_HOST=gbr.cloudpoint.bloomberg.com
SECONDARY_HOST=deu.cloudpoint.bloomberg.com
PORT=8194
ROOT_CERTIFICATE=PATH_TO_ROOT_CERTIFICATE
CLIENT_CERTIFICATE=PATH_TO_CLIENT_CERTIFICATE
