build/
*.o
*.a
*.so
*.exe
*.log
*.swp
*.user
*.vcxproj*
cmake-build-*/
CMakeFiles/
CMakeCache.txt
blpapi3_64
config.json
config.zip
credentials/
go/go.sum
.cache/
bin/
blpapi*.tar.gz
log.txt
swig/*.cxx
vrs/python/.env
vrs/python/.ipynb_checkpoints/
vrs/python/__pycache__/
vrs/python/*.pickle
